{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>

    {% block title %}Home{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'blog/home.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container" style="margin: 0 auto; width:100%;padding-left:0; padding-right:0px;
    overflow:hidden;">
    <div class="row">
    
		<div class="col-md-12">

            <div class="card hovercard">
                <div class="cardheader" style="background:url(http://f.fwallpapers.com/images/beautiful-nature-554.jpg) no-repeat; height:300px;
                width:100%; background-size: cover;">

                </div>
                <div class="avatar">
                    <img alt="" src="https://yt3.ggpht.com/-KAW-Ma7ETqU/AAAAAAAAAAI/AAAAAAAAAAA/gJVH28o-_Vg/s100-c-k-no/photo.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="#">Chandan</a>
                    </div>
                    <div class="desc">UI & UX Designer</div>
                    <div class="desc">New Delhi</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://www.youtube.com/user/ckrstorm" target="_blank">
                        <i class="fa fa-youtube"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/114356158260877386735" target="_blank">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://www.facebook.com/chandandesigner" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://www.linkedin.com/in/chandan-kumar-ray-3155b036" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>

        </div>
</div>
	</div>
   