{% extends base_template_name %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/index.css' %}">
<script src="js/jquery.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

{% block body %}

<style type="text/css">
    body { background-color:#e6ffff; }


.card {
      padding-top: 10px;
    
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.card .card-heading.simple {
    font-size: 10px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 100%;
    height: 100px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card.hovercard .cardheader {

    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}


.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 70%;
    -moz-border-radius: 70%;
    border-radius: 70%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
#div2 {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 6em;
  line-height: 2em;
  padding-left: 10px;
  margin-top: -30px;
  text-align: justify;

}
#com {
  word-wrap: break-word;
  overflow: hidden;
  max-height: 6em;
  line-height: 2em;
  margin-top: -30px;
  text-align: justify;
  padding-left: 70px;
  margin-bottom:20px;

}
#h2 {
    padding-left:15px;
}



</style>
<div class="container" >

<div class="row " style="padding-top:60px;">
{% if user.is_authenticated %}
<div class="col-md-3">

            <div class="card hovercard" style="text-align:center;" >
            {%if user.profile.cover %}
                <div class="cardheader" style="background:url({{user.profile.cover.url}}) no-repeat center center ; height:200px;
                width:100%; background-size: cover;">

                </div>
                {%else%}
                 <div class="cardheader" style="background:url(http://fredeextensions.gettimely.com/images/default-cover-image.jpg) no-repeat center center ; height:200px;
                    width:100%; background-size: cover;">  </div>{%endif%}
                <div class="avatar">
                {% if user.profile.avatar %}
                    <img alt="" src="{{user.profile.avatar.url}}">
                {%else%}
                    <img alt="" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLHkpwz9uatkkrzR6FvSyO-AbKAPqTwu8pHrUx2BAtYBjpDCS-Q"> {%endif%}
                </div>
                <div class="info">
                    <div class="title">
                        <a href="{% url 'blog:profil' user.username %}">{{user.username}}</a>
                    </div>
                    {% if not user.profile.bio%}
                    <div class="desc" style="font-family:serif;">Introduce yourself</div> {%else%}
                    <div style="font-family:serif;">{{ user.profile.bio|safe }}</div> {%endif%}
                </div>
                
                <div class="bottom">
                            <h4 style="color:#636c72;">Lives in</h4>
                            {% if not user.profile.location %}
                            <p>-</p>{%else%}
                            <p style="font-family:serif;">{{user.profile.location|safe}}</p>{%endif%}
                            
                            <h4 style="color:#636c72;">Studied</h4>
                            {% if not user.profile.bd %}
                            <p>-</p>{%else%}
                            <p style="font-family:serif;">{{user.profile.bd}}</p>{%endif%} 
                            <h4 style="color:#636c72;">Job</h4>
                            {% if not user.profile.job %}
                            <p>-</p>{%else%}
                            <p style="font-family:serif;">{{user.profile.job}}</p>{%endif%} <hr>
                            
                </div>
            </div>

        </div>{%else%}
        <div class="col-md-2"></div>
        {%endif%}

<div class="col-md-7" style="padding-top:10px;">
{% if not user.is_authenticated %}
<div class="panel panel-default">
    <div class="panel-body"> 
    <p style="font-size:20px;color:#66757f;font-family:serief;">New to the website? Sign up now to get your own personalized timeline!</p>
                </div></div>
{%endif%}
           {% if posts %}
             {% for post in posts %}
            <!-- Simple post content example. -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left">{% if post.user.profile.avatar %}
                        <a href="#">
                            <img class="media-object img-circle" src="{{post.user.profile.avatar.url}}" width="60px" height="60px" style="margin-right:8px; margin-top:-5px;">
                        </a>
                        {%else%}
                        <a href="#">
                            <img class="media-object img-circle" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLHkpwz9uatkkrzR6FvSyO-AbKAPqTwu8pHrUx2BAtYBjpDCS-Q" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                        </a>
                            {%endif%}

                    </div>
                    <h4><a href="" style="text-decoration:none;"><strong>
                    <a href="{% url 'blog:profil' post.user.username %}">{{ post.user }}</a></strong></a> – <small><small><a href="{% url 'blog:detail' post.pk %}" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i>{% if post.published_date %}
                                    {{ post.published_date }}</a>
                              
                            {% endif %}</i></a></small></small></h4>
                    <hr>
                                   
                    <div class="post-content">
                    {% if post.image %}
                    <img src="{{post.image}}" style="float:left;height:140px;padding-right:10px; width:178px;"  alt ="logo">
                    {%endif%}
                        <h2 style="color:grey;"> {{ post.title }} </h2><hr>
                    
        <div id="div2">
        {{ post.text|safe}}</div>
                        <div><a href="{% url 'blog:detail' post.pk %}" class="read-url" style="color:#09c; margin-left:500px;">
                        Read More »</a></div>                 
                    </div>
                    
                    <hr>
                    {% if user.is_authenticated %}
                    <div>
                        <div class="pull-right btn-group-xs">
                            {%if post.user == user %}
                            <a href="{% url 'blog:update' post.pk %}"  class="btn btn-default btn-xs">
                            
                            <span class="glyphicon glyphicon-pencil"></span>
                            
                             Edit</a>
                            <form action="{% url 'blog:delete' post.id %}" method="post" style="display: inline;">
                                                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.id }}" />
                            <button type="submit" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-trash"></span>
                             Delete </button> </form> {%else%}
                             <a href="#"  class="btn btn-default btn-xs">
                            
                            <span class="glyphicon glyphicon-share"></span>
                            
                             Share</a>
                             <a href="#"  class="btn btn-default btn-xs">
                            
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            
                             Like</a> {%endif%}
                            <a href="#" class="btn btn-default btn-xs">
                          
                            <span class="glyphicon glyphicon-comment"></span> Comment</a>
                        </div>
                        <br>
                    </div>
                    {%endif%}
                    <hr>
                    <div class="media">
                    {% if not user.is_authenticated %}
                    <h4><a href="{% url 'blog:register' %}"> Sign Up</a> or 
                    <a href="{% url 'blog:login' %}">Log In</a> to comment this post</h4>
                    {%else%}
                        <h4>Leave a Comment:</h4>
                    <form action="{% url 'blog:add_comment_to_post' post.pk %}" method="POST">
                {% csrf_token %}
                <div class="form-group ">
                 <input class="form-control" type="text" id="id_textc" name="textc"></div>
                <div class="form-group ">
                            <button type="submit" id="button" class="btn btn-info btn-large login-button">Comment</button>
                        </div>
                </form>
                        {% for comment in post.comments.all %} 
                          <div class="post-content">
                    {%if user.profile.avatar %}
                    <img style="margin-left:30px;;margin-bottom:20px;border-radius:50%;width:50px;heigth:50px;"
   src="{{comment.user.profile.avatar.url}}"  alt ="logo">{%else%}
    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLHkpwz9uatkkrzR6FvSyO-AbKAPqTwu8pHrUx2BAtYBjpDCS-Q" title="John Doe" alt="John Doe" style="margin-bottom:-25px;border-radius:50%;width:60px;heigth:60px;">
                    {%endif%}
                        
           <strong style="color:#337ab7;">{{comment.user}}</strong>

            {{ comment.textc|safe }}</div>
            {% if comment.user == user %}
     <div class="pull-right" style="margin-right:15px;">
      <form action="{% url 'blog:comment_remove' comment.id %}" method="post" style="display: inline;">
                                                            {% csrf_token %}
                            <input type="hidden" name="comment_id" value="{{ comment.id }}" />
                            <button type="submit" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-trash"></span>
                             Delete </button> </form></div>{%endif%}


                            {% endfor %}
                        
                            
                        {%endif%}
                    </div>
                </div>
            </div> {%endfor%} {%endif%}
            <!-- Reshare Example -->   
         
    </div>
</div>
</div>

    
    {% endblock %}
    
