{% load staticfiles %}
<link rel="stylesheet" href="{% static 'blog/register.css' %}">
<html lang="en">
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Website Font style -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>


        <title>Admin</title>
    </head>
    <body style="padding-top:55px;overflow:hidden;">
    <div class="container" >
      <div class="row main" style="margin:50px 15px;">
        <div class="col-md-4 col-md-offset-4 main-login main-center" >
        <h3>Sign In</h3><hr style="width:100%;">
        {% if error_message %}
        <p><small style='color:#DC143C;'>{{ error_message }}</small></p>
        {% endif %}
          <form method="post" action="{% url 'blog:login'%}?next={% url 'blog:index' %}">
            {% csrf_token %}
            <div class="form-group" style="padding-top:10px;">
              <label class="control-label" for="id_username">Username:</label>
              <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input class="form-control" type="text" id="id_username" name="username"
                placeholder="Your usename">
              </div>
            </div>
            <div class="form-group"style="padding-top:15px;">
              <label class="control-label" for="id_password">Password:</label>
              <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input class="form-control" type="password" id="id_password" name="password" placeholder="Your password">
              </div>
            </div>
            <div style="padding-top:25px;">
            <button type="submit" class="btn btn-primary">Sign in</button>
            Or you can Sing Up <a href="{% url 'blog:register' %}" class="btn-link" style="color:#DC143C;">here</a></div>
          </form>   
          </div>
        </div>
        </div> 
        </body>
        </html>