{%extends 'blog/base.html'%}
{% load staticfiles %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/index.css' %}">
{%endblock%}

{% block body %}
<style type="text/css">
body { background-color:#e6ffff; }

.card .card-heading.simple {
    font-size: 10px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}
.card .card-heading.image img {
    display: inline-block;
    width: 100%;
    height: 100px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .cardheader {

    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {

    position: relative;
    top: -150px;
    margin-bottom: -160px;

}


.card.hovercard .avatar img {
       width: 100%;
    height: 100%; 
}
#div2 {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 6em;
  line-height: 2em;
  padding-left: 10px;
  margin-top: -30px;
}
#com {
  word-wrap: break-word;
  overflow: hidden;
  max-height: 6em;
  line-height: 2em;
  margin-top: -30px;
  text-align: justify;
  padding-left: 70px;
  margin-bottom:20px;

}

</style>
<div class="container" style="width:100%; overflow:hidden; padding-left:0;padding-right:0;">
<div class="row " style="padding-top:50px;">
<div class="col-md-12">

            <div class="card hovercard">
            {%if user.profile.cover %}
            <div class="cardheader" style="background:url({{user.profile.cover.url}}) no-repeat center center; height:350px; width:100%;
             
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;"></div> 
             {% else %}
                <div class="cardheader" style="background:url(http://fredeextensions.gettimely.com/images/default-cover-image.jpg) no-repeat center center; height:350px; width:100%;
             
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">

                </div> {%endif%}
                </div></div>
<div class="row ">
<div class="col-md-3">
<div class="card hovercard" style="text-align:center;" >
            {% if user.profile.avatar %}
                <div class="avatar img-thumbnail img-rounded img-responsive" style="border-radius:8px;
                max-width:70%; max-height:70%;" alt="Cinque Terre">
                    
                    <img alt="" src="{{ user.profile.avatar.url }}">
                    {%else%} 
                <div class="avatar img-thumbnail img-rounded img-responsive" style="border-radius:8px;
                max-width:70%; max-height:70%;" alt="Cinque Terre">
                    <img alt="" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLHkpwz9uatkkrzR6FvSyO-AbKAPqTwu8pHrUx2BAtYBjpDCS-Q"> {%endif%}
                </div>
                <div class="info" style="margin-top: -40px">
                    <div class="title" style="font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;">
                        <a target="_blank" href="#">{{post.user.username}}</a>
                    </div>
                    <div class="desc">{{ user.profile.bio|safe }}</div>
                </div>
                <div class="bottom">
                            <h3><strong>Location</strong></h3>
                            <p>{{user.profile.location|safe}}</p>
                            <hr>
                            <h3><strong>Birthday</strong></h3>
                            <p>{{post.user.profile.bd}}</p>
                            <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="col-md-7" style="padding-top:10px;">
           {% if posts %}
             {% for post in posts %}
            <!-- Simple post content example. -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left">
                    {%if post.user.profile.avatar%}
                        <a href="#">
                            <img class="media-object img-circle" src="{{ user.profile.avatar.url}}" width="60px" height="60px" style="margin-right:8px; margin-top:-5px;">
                        </a>
                        {%else %}
                        <a href="#">
                            <img class="media-object img-circle" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLHkpwz9uatkkrzR6FvSyO-AbKAPqTwu8pHrUx2BAtYBjpDCS-Q" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                        </a> {%endif %}
                    </div>

                    <h4><a href="" style="text-decoration:none;"><strong>
                    <a href="">{{ post.user }}</a></strong></a> – <small><small><a href="{% url 'blog:detail' post.pk %}" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i>{% if post.published_date %}
                                    {{ post.published_date }}</a>
                              
                            {% endif %}</i></a></small></small></h4>
                    <hr>
                                   
                    <div class="post-content">
                    {% if post.image %}
                    <img src="{{post.image}}" style="float:left;height:140px;width:178px;padding-right:10px; "  alt ="logo">
                    {%endif%}
                        <h2 style="color:grey;"> {{ post.title }} </h2><hr>
                    
        <div id="div2">
        {{ post.text|safe}}</div>
                        <div><a href="{% url 'blog:detail' post.pk %}" class="read-url" style="color:#09c;padding-left:10px;">
                        Read More »</a></div>                 
                    </div>
                    
                    <hr>
                    <div>
                        <div class="pull-right btn-group-xs">
                            {%if post.user != user %}
                            <a href="{% url 'blog:update' post.pk %}"  class="btn btn-default btn-xs">
                            
                            <span class="glyphicon glyphicon-pencil"></span>
                            
                             Edit</a>
                            <form action="{% url 'blog:delete' post.id %}" method="post" style="display: inline;">
                                                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.id }}" />
                            <button type="submit" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-trash"></span>
                             Delete </button> </form> {%else%}
                             <a href="#"  class="btn btn-default btn-xs">
                            
                            <span class="glyphicon glyphicon-share"></span>
                            
                             Share</a>
                             <a href="#"  class="btn btn-default btn-xs">
                            
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            
                             Like</a> {%endif%}

                            <a class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-comment"></span> Comment</a>
                        </div>
                        <br>
                    </div>
                    <hr>
        
                   <div class="media">
                        {% for comment in post.comments.all %} 
                          <div class="post-content">
                    {%if user.profile.avatar %}
                    <img style="margin-bottom:-25px;border-radius:50%;width:50px;heigth:50px;"
   src="{{user.profile.avatar.url}}"  alt ="logo">{%else%}
    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLHkpwz9uatkkrzR6FvSyO-AbKAPqTwu8pHrUx2BAtYBjpDCS-Q" title="John Doe" alt="John Doe" style="margin-bottom:-25px;border-radius:50%;width:60px;heigth:60px;">
                    {%endif%}
                    {%if comment.textc %}
                    <div id="com">
                        <p style="padding-bottom:-15px;">{{ comment.textc|linebreaks }}</p></div>
                         {%else%}
                       <div class="media-body">
                            <input class="form-control" rows="1" placeholder=" No comment yet">
                        </div> {%endif%}
                            
            </div>
             {% if comment.user == user %}
     <div class="pull-right" style="margin-right:15px;">
      <form action="{% url 'blog:comment_remove' comment.id %}" method="post" style="display: inline;">
                                                            {% csrf_token %}
                            <input type="hidden" name="comment_id" value="{{ comment.id }}" />
                            <button type="submit" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-trash"></span>
                             Delete </button> </form></div> {%endif%}
                            {% endfor %}
                        
                            
                        
                    </div>
                </div>
            </div> {%endfor%} {%endif%}
            <!-- Reshare Example -->
   
         
    </div>
<div class="col-md-2" style="padding-top:10px;"><a href="{% url 'blog:edit_profile' user.username %}" 
class="btn btn-info btn-large"><span class="glyphicon glyphicon-cog"></span>
Edit your profile </a>
  </div>
    </div>
</div>
{%endblock%}