{% load staticfiles %}
<link rel="stylesheet" href="{% static 'blog/register.css' %}">
<html lang="en">
    <head> 
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<link rel="stylesheet" href="style.css">
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>

		<title>Admin</title>
	</head>
	<body>
		<div class="container" >
			<div class="row main" style="margin:50px 15px;">
				<div class="col-md-4 col-md-offset-4 main-login main-center" >
				<h5>Already have an account ?<a style="color: #DC143C;" href="{% url 'blog:login' %}"> Login Here</a></h5>

					<form  method="post" role="form" action=""
					 enctype="multipart/form-data">
					 
						{% csrf_token %}

						<div class="form-group">
							<label for="id_username " class="cols-md-2 control-label">Your Username</label>
							
							<div class="cols-md-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									{{ form.username }}
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="id_email" class="cols-md-2 control-label">email</label>
							
							<div class="cols-md-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-at" aria-hidden="true"></i></span>
									{{ form.email }}
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="id_password" class="cols-md-2 control-label">Password</label>							 
							<div class="cols-md-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									{{ form.password }}
								</div>
							</div>
						</div>
	<p><small style='color:#DC143C;'>{{ form.password.errors }}</small></p>
						<div class="form-group">
							<label for="id_password2" class="cols-md-2 control-label">Confirm Password</label>
							
							
							<div class="cols-md-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									{{ form.password2 }}
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Register</button>
						</div>
						
					</form>
				</div>
			</div>
		</div>
		</body>
		</html>